astroid==2.7.3
certifi==2020.12.5
chardet==4.0.0
dnspython==2.1.0
idna==2.10
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
Naked==0.1.31
pickle5==0.0.11
platformdirs==2.3.0
pycryptodome==3.10.1
pylint==2.10.2
PyQt3D==5.15.4
PyQt5==5.15.4
PyQt5-sip==12.9.0
PyQtChart==5.15.4
PyQtDataVisualization==5.15.4
PyQtNetworkAuth==5.15.4
PyQtPurchasing==5.15.4
PyQtWebEngine==5.15.4
Pyro4==4.80
PyYAML==5.4.1
QScintilla==2.13.0
requests==2.25.1
serpent==1.30.2
shellescape==3.8.1
TBB==0.2
toml==0.10.2
urllib3==1.26.4
wrapt==1.12.1
